<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>snapshotweb</title>
</head>

<!-- <body>
  <h1 style="text-align: center; width: 100%;">snapshotweb</h1>
  <ul style="margin: 0 auto; width: 89%;">
    <li>
      <strong>route '/files/list' </strong> you can see all pages which someone uploaded.
    </li>
    <li>
      <strong>route '/files/saveasmhtml', param 'url' is required </strong> you can store a snapshot for the url you
      provied
    </li>
    <li>
      <strong>example:</strong>
      http://localhost:5000/files/saveasmhtml?url=https://mp.weixin.qq.com/s?__biz=aaaa==&mid=1111&idx=2&sn=bbbb&chksm=cccc&scene=123&image=save
    </li>
  </ul>
</body> -->

</html>